<header class="main-header">
    <h1 class="main-header_title">Cantinho da Poesia</h1>
    <div class="container-menu">
        <nav class="main-header_menu">
            <ul>
                <li><a routerLink="poemas"><i class="lni lni-book"></i>Poemas</a></li>
                <li><a routerLink="favoritos"><i class="lni lni-bookmark"></i>Meus Favoritos</a></li>
                <li><a routerLink="adicionar"><i class="lni lni-pencil-alt"></i>Adicionar novo poema</a></li>
            </ul>
        </nav>
    </div>
</header>
