<footer class="footer">
    <div class="footer_container">
        <section>
            <h2 class="footer_title">Sobre</h2>
            <p class="footer_about-text">
                Esse projeto surgiu como uma oportunidade de praticar meus aprendizados em Angular. Provavelmente gastei mais tempo pensando no projeto (e na escolha das cores e ícones) do que programando. 
            </p>
        </section>
        <address>
            <h2 class="footer_title">Contato</h2>
            <ul>
                <li><i class="lni lni-discord-alt"></i>RenataKB#9352</li>
                <li class="link"><a href="https://github.com/renatakb"><i class="lni lni-github-original"></i>Meu Github</a></li>
                <li class="link"><a href="https://renatakb.github.io/"><i class="lni lni-website"></i>Meu portifólio</a></li>
            </ul>
        </address>
    </div>
    <section class="footer_copyright">
        Feito com <i class="lni lni-heart-fill"></i> por RenataKB - &copy; Todos os direitos reservados
    </section>
</footer>